h1 {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 20px;
}

mat-radio-button {
  margin: 5px;
}

button {
  display: block;
  margin: auto;
  color: white !important;
  width: 100%;
}
