<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-form-field class="text-white">
      <mat-select [(value)]="appService.selectedConference">
        <mat-option value="default">בחר כנס מתוך הרשימה</mat-option>
        <mat-option
          *ngFor="let conference of appService.conferencesNames"
          [value]="conference"
          (click)="appService.getConferenceData(conference.ConferenceID, 1)"
          >
          {{ conference.ConferenceName }}
          {{ conference.ConferenceID }}

        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
